.medicalRecordListItem {
  width: 80%;
  min-width: 300px;
  min-height: 250px;
  max-height: 500px;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.medicalRecordListItemHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  padding: 10px;
  width: 100%;
}

.medicalRecordListItemDescription {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
}

.medicalRecordListItemActions {
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
  background-color: white;
}
