@font-face {
  font-family: "roboto";
  src: url("/fonts/roboto.ttf");
}

.recoverPasswordContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recoverPasswordForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.recoverPasswordTitle {
  font-family: "roboto";
  font-size: 20px;
  text-align: center;
}
