@font-face {
  font-family: "broughton";
  src: url("/fonts/broughton.ttf");
}

.updatePasswordContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.updatePasswordForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.updatePasswordTitle {
  font-family: "broughton";
  font-size: 2em;
  text-align: center;
  color: white;
}
