@font-face {
  font-family: "broughton";
  src: url("/fonts/broughton.ttf");
}

.homeTitle {
  font-family: "broughton";
  text-shadow: 0 0 20px black;
  font-size: 40px;
  text-align: center;
  margin-top: 10%;
  letter-spacing: 5px;
}
