.sizeTextButtonGroupContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: white;
  box-shadow: 0 0 5px black;
  gap: 10px;
}
