@font-face {
  font-family: "roboto";
  src: url("/fonts/roboto.ttf");
}

.billingRecordsListContainer {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  font-family: "roboto";
}

.billingRecordsTable {
  width: 100%;
  min-width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.billingRecordsTableHeader {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
}

.billingRecordsListFooter {
  display: flex;
  padding: 10px;
  background-color: #f9f9f9;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  font-family: "roboto";
}
