* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    /* url(/images/background.jpg); */ url(/images/background3.jpg);
  background-size: 80px;
  background-repeat: repeat;
  background-attachment: fixed;
}
